html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  // border: 1px solid red;
  font-family: sans-serif;
}

div {
  // border: 1px solid blue;
}

.flex-row {
  display: flex;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}
