#blog-page{
  display: flex;
  
}
.blog-page-content {
  font-size: 16px;
  width: 70%;
  margin-left: 40px;
}

.single-blog-post-content-container{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.blog-post-wrapper {
  color: $dark-text;
  margin: 40px 0;
  .blog-post-image {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition:  0.2s ease-in-out;
    &:hover{
      transform: scale(1.05);
      box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, 0.4);
    }
  }
}
.single-blog-post-wrapper {
  .blog-post-image {
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

  .blog-controls{
    margin: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $main-color-light-shade;
    font-weight: bold;
    font-size: 1.3rem;
  }

  .blog-post-date {
    margin-top: -15px;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: $main-color-light-shade;
  }

  .blog-post-content {
    font-size: 1.5rem;
    line-height: 1.3;
    // padding: 20px 0;
  }

  a.blog-post-button {
    display: block;
    text-align: center;
    padding: 10px 20px;
    width: 150px;
    margin: 30px auto;
    border: 1px solid $dark-text;
    transition: all 0.3s ease-in-out;

    &:focus,
    &:hover {
      cursor: pointer;
      background: $dark-text;
      color: $light-text;
    }
  }

  .blog-post-info {
    color: $main-color-light-shade;
    margin-top: -15px;
    font-weight: bold;
    letter-spacing: 0.1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  #sidebar {
    margin-top: 20px;
    margin-right: 40px;
    ul {
      list-style: none;
      padding: 0;
      text-align: center;
      li{
      a {
        transition: 0.3s ease;
        &:hover, &:focus {
          background: $main-color-light-shade;
          color: white;
        }
      }
    }
    }
    padding-left: 60px;
    h2 {
      color: $main-color;
    }
    a {
      color: $main-color;
      &:hover, &:focus {
        color: $main-color-light-shade;
      }
    }
  }

@media (max-width: 900px){
  #blog-page{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .blog-page-content {
    width: 80%;
    margin: auto;
    
  }
  #sidebar{
    width: 80%;
    text-align: center;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
  .blog-post-content{
    font-size: initial;
  }
  .blog-controls * {
    font-size: 1rem;
  }
}
