
.projects-hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  background-image: url('http://www.fillmurray.com/1200/1000');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $light-text;
  box-shadow: inset 0 0 0 100000px rgba(0, 0, 0, 0.6 );

}
.project-hero-title{
font-size: 5rem;
}

.project-hero-description{
  font-size: 1.3rem;
  line-height: 1.3;
  letter-spacing: 0.07rem;
}

.projects-grid{
  padding: 40px 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

}

.projects-grid-box{
  margin: 40px 0;
  flex-grow: 1;
  width: 33.33%;
min-width: 300px;
padding: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
// border: 1px solid red;
.project-image{
  border: 1px solid red;
  height: 200px;
  width: 100%;
  background-image: url('http://www.fillmurray.com/700/400');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
}

.projects-grid-box-button{
  padding: 10px 20px;
  border: 1px solid $dark-text;
  transition: all 0.3s ease-in-out;
  &:hover, &:focus {
    background: $dark-text;
    color: $light-text;
  }
}
