$main-color: #3e294e;
$main-color-light-shade: #57376f;
// $main-color: rgb(219, 65, 65);
// $main-color-light-shade: rgb(236, 92, 92) ;

$dark-text: rgb(46, 46, 46);
$light-text: rgb(255, 255, 255);
